.homeApp{
    margin: 0 20px;
}

.contentDiv{
    margin-bottom: 60px;
}

.tableDiv {
    width: 100%;
    border: 1px solid #BBBEBB;
    border-radius: 10px;
    margin-top: 30px;
}

.assetBorder {
    border: 1px solid black;
}

.lastList {
    border: 1px solid black;
}

.align-left{
    text-align: left !important;
}

.moreBtn {
    border: 1px solid black;
}

/* 스마트폰 */
@media (max-width: 767px) {

    /* inputTable의 테이블 행을 각각 1열로 조정 */
    .inputTable tbody tr {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    /* inputTable의 각 셀 스타일 조정 */
    .inputTable td,
    .inputTable th {
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-align: left;
    }
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1023px) {

    /* 새로운 소비 내역 추가하기 영역 */
    .subTitle {
        font-size: 120%;
    }

    .newInput {
        height: 550px;
        position: relative;
    }

    .inputTable{
        min-width: 768px;
        max-width: 1023px;
        height: 300px;
        margin: 20px 10px;
        table-layout: fixed;

        background-color: rgb(204, 204, 204);
    }

    .inputTable tbody tr {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    .inputTable th{
        width: 60px;
        text-align: left; /* 가로 왼쪽 정렬 */
    }

    .inputTable td{
        width: 200px;
    }

    .inputTable th,
    .inputTable td {
        border: 1px solid black;
        margin-top: 10px;
        height: 50px;
    }

    .inputTable input {
        border-bottom: 1px solid #BBBEBB; /* 밑줄 스타일 지정 */
        padding: 2px; /* 내부 여백 설정 */
    }

    .inputTable input[type="text"] {
        width: 170px;
    }

    select {
        border-bottom: 1px solid #BBBEBB;
        width: 77%;
    }

    .addBtn{
        border: 2px solid #004aad;
        border-radius: 25px;
        background-color: #004aad;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 15px 35px;

        position: absolute;
        right: 3%;
        bottom: 4%;
    }

    .addBtn:hover{
        border: 2px solid #004aad;
        background-color: white;
        color: #004aad;
    }

    /* 이번달 자산 현황 영역 */

    .contentDiv h2{
        font-size: 160%;
        margin-top: 10px;
    }

    .conditionDiv {
        height: 150px;
    }

    .conditionTable{
        width: 90%;
        height: 130px;
        margin: auto;
        margin-top: 20px;
        table-layout: fixed;
    }

    .conditionTable th,
    .conditionTable td {
        padding: 10px;
        text-align: center;   /* 가로 왼쪽 정렬 */
        vertical-align: middle;  /* 세로 가운데 정렬 */
    }

    /* 최근 내역 영역 */

    .lastListTable{
        width: 100%;
        margin-top: 20px;
        padding-right: 30px;
        table-layout: fixed;
    }

    .lastListTable th{
        height: 60px;
    }

    .lastListTable th,
    .lastListTable td {
        padding: 5px;
        text-align: center;   /* 가로 왼쪽 정렬 */
        vertical-align: middle;  /* 세로 가운데 정렬 */
    }

    .moreBtn{
        width: 100%;
        height: 50px;
        margin-top: 20px;
        
        border: 3px solid #004aad;
        border-radius: 5px;
        background-color: #004aad;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .moreBtn:hover{
        border: 3px solid #004aad;
        background-color: white;
        color: #004aad;
    }
}

/* 데스크톱 */
@media (min-width: 1024px) {

    /* 새로운 소비 내역 추가하기 영역 */

    .subTitle {
        font-size: 150%;
    }

    .newInput {
        height: 350px;
        position: relative;
    }

    .inputTable tbody tr {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: 100%;
    }

    .inputTable{
        width: 1500px;
        height: 270px;
        font-size: 120%;
        margin: auto;
        margin-top: 35px;
        margin-right: 120px;
        table-layout: fixed;
    }

    .inputTable th,
    .inputTable td{
        display: flex;
        align-items: center;
        height: 100%;
    }

    .inputTable th{
        width: 80px;
        text-align: left; /* 가로 왼쪽 정렬 */
    }

    .inputTable td {
        margin-left: -170px;
    }

    .inputTable input {
        border-bottom: 1px solid #BBBEBB; /* 밑줄 스타일 지정 */
        padding: 2px; /* 내부 여백 설정 */
    }

    .inputTable input[type="text"] {
        width: 250px;
    }

    select {
        border-bottom: 1px solid #BBBEBB;
        width: 40%;
    }
    
    .addBtn{
        border: 3px solid #004aad;
        border-radius: 25px;
        background-color: #004aad;
        color: white;
        font-size: 120%;
        font-weight: bold;
        cursor: pointer;
        padding: 15px 35px;

        position: absolute;
        right: 3%;
        bottom: 12%;
    }

    .addBtn:hover{
        border: 3px solid #004aad;
        background-color: white;
        color: #004aad;
    }

    /* 이번달 자산 현황 영역 */
    .contentDiv h2{
        font-size: 200%;
        margin-top: 10px;
    }

    .conditionDiv {
        height: 150px;
    }

    .conditionTable{
        width: 1200px;
        height: 130px;
        font-size: 120%;
        margin: auto;
        margin-top: 20px;
        table-layout: fixed;
    }

    .conditionTable th,
    .conditionTable td {
        padding: 10px;
        text-align: center;   /* 가로 왼쪽 정렬 */
        vertical-align: middle;  /* 세로 가운데 정렬 */
    }

    /* 최근 내역 영역 */

    .lastListTable{
        width: 100%;
        font-size: 120%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 50px;
        table-layout: fixed;
    }

    .lastListTable th{
        height: 50px;
    }

    .lastListTable th,
    .lastListTable td {
        padding: 5px;
        text-align: center;   /* 가로 왼쪽 정렬 */
        vertical-align: middle;  /* 세로 가운데 정렬 */
    }

    .moreBtn{
        width: 100%;
        height: 50px;
        margin-top: 20px;
        
        border: 3px solid #004aad;
        border-radius: 5px;
        background-color: #004aad;
        color: white;
        font-size: 120%;
        font-weight: bold;
        cursor: pointer;
    }

    .moreBtn:hover{
        border: 3px solid #004aad;
        background-color: white;
        color: #004aad;
    }
}