.App {
  font-size: 16px;
  margin: 15px 30px;
}

nav {
  width: 100%;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

nav button {
  width: 200px;
  height: 70px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s; /* transition 효과 추가 */
}

/* 상단 메뉴 버튼 마우스 오버시 이벤트 */
li a button:hover {
  background-color: #DCDBD9;
  color: #112138;
  transform: scale(1.05); /* 마우스 오버 시 이미지 크기 조정 */
}

/* 상단 메뉴 버튼 클릭 시 이벤트 */
.navLinkButton.activeBtn {
  background-color: #004aad;
  color: white;
}

/* 스마트폰 */
@media (max-width: 767px) {
  header{
    margin-bottom: 30px;
  }

  .mainLogo {
    width: 50px; /* 원하는 크기로 설정 */
    height: auto; /* 너비에 따라 자동으로 높이 조정 */
  }

  /* sideMenu.css */

  .sideMenu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #FAC171;
    transition: right 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 1;
  }

  .sideMenu.active {
    right: 0;
  }

  .sideMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sideMenu ul li {
    padding: 10px;
    text-align: right;
    font-size: 120%;
  }

  .sideMenu ul li a {
    color: #112138;
    text-decoration: none;
    font-weight: normal;
  }

  .sideMenu ul li a:hover{
    color: #004aad;
    font-weight: 800;
    font-size: 110%;
    text-decoration: underline;
  }

  /* 메뉴 버튼 클릭 시 이벤트 */
  .navLinkMButton.activeMBtn {
    color: #004aad;
    font-size: 110%;
    font-weight: 800;
  }

  .sideMenuToggle {
    width: 32px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
  }

  /* 메뉴아이콘 */
  .menuIcon {
    width: 32px;
    height: 30px;
    display: flex;
    align-items: center;
    transition: transform 0.3s, filter 0.3s; /* transition 효과 추가 */
  }

  /* 메뉴아이콘 마우스 오버 시 */
  .menuIcon:hover {
    transform: scale(1.1);
    /* 마우스 오버 시 이미지 크기 조정 */
    filter: brightness(1.2);
    /* 밝기 조정 */
  }

  /* 메뉴 X아이콘 */
  .sideMenuToggle.active{
    width: auto;
    height: auto;
    right: 10px;
  }

  /* ? */
  .sideMenuToggle.active img{
    width: 30px;
    height: auto;
  }
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
    border-bottom: 1px solid #b8b8b8;
  }
  
  nav {
    font-size: 120%;
    font-weight: 700;
    height: 60px;
    padding-right: 100px;
  }

  .mainLogo {
    width: 150px; /* 원하는 크기로 설정 */
    height: auto; /* 너비에 따라 자동으로 높이 조정 */
  }

  .topMenu{
    display: flex;
    height: 50px;
  }

  nav ul {
    width: 500px;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }
}

/* 데스크톱 */
@media (min-width: 1024px) {
  header {
    width: 100%;
    height: 95px;
    margin-bottom: 50px;
    border-bottom: 1px solid #b8b8b8;
  }

  .topMenu {
    display: flex;
    height: 50px;
  }

  .mainLogo {
    width: 180px;
  }

  nav {
    height: 75px;
    font-size: 170%;
    font-weight: 700;
  }

  nav ul {
    width: 900px;
    height: 75px;
    display: flex;
    margin: auto;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
  }
}