@font-face {
  font-family: "NanumSquareNeo-Variable";
  font-weight: normal;
  src: url("./fonts/NanumSquareNeo-Variable.ttf") format("truetype");
}

body{
  font-family: "NanumSquareNeo-Variable";
}